/* font */
@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
* {
  margin: 0px;
  padding: 0px;
  font-family: "Merriweather", serif;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
}
.btn {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 14px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
  box-sizing: border-box;
  border: 1px solid rgb(13, 19, 33);
  border-radius: 8px;
  opacity: 0.8;
  padding: 12px;
}
/* banner section */
.hero {
  background-image: url("../assets/Hero-bg.png");
  /* position: absolute; */
  width: 1536px;
  height: 652px;
  /* left: 0;
  right: 0;
  top: 131px;
  bottom: 4462px; */
}
.hero-img {
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-text {
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-title {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 48px;
  font-weight: 800;
  line-height: 68px;
  letter-spacing: 0%;
  text-align: center;
}
.hero-subtitle {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  margin-top: 22px;
  margin-bottom: 24px;
}
.hero-btn {
  text-align: center;
}
/* developer section */
.developer {
  margin-top: 96px;
}
.developer-text {
  display: flex;
  align-items: center;
  justify-content: center;
}
.developer-title {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  letter-spacing: 0%;
  text-align: center;
}
.developer-subtitle {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 84px;
  margin-top: 15px;
}
.developer-learn {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 24px;
}
.developer-learn-title {
  color: rgba(13, 19, 33, 0.7);
  font-family: Azeret Mono;
  font-size: 18px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: left;
}
.developer-learn-subtitle {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
  margin-top: 14px;
  margin-bottom: 24px;
}
/* Inspiration section  */
.inspiration {
  margin-top: 64px;
  margin-bottom: 60px;
}
.inspiration-title {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  letter-spacing: 0%;
  text-align: center;
}
.inspiration-subtitle {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  margin-top: 18px;
  margin-bottom: 48px;
}
.inspiration-video {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Current Target */
.target-title {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  letter-spacing: 0%;
  text-align: center;
}
.target-subtitle {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  margin-top: 18px;
  margin-bottom: 36px;
}
.learning-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-bottom: 60px;
}
.learning-box {
  width: 364px;
  height: 299px;
  border-radius: 16px;
  background: rgba(255, 76, 30, 0.05);
  padding: 32px;
}
.learning-box-1 {
  width: 364px;
  height: 299px;
  border-radius: 16px;
  background: rgba(0, 76, 232, 0.05);
  padding: 32px;
}

.learning-box-2 {
  width: 364px;
  height: 299px;
  border-radius: 16px;
  background: rgba(255, 223, 0, 0.05);
  padding: 32px;
}
.learning-subtitle {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
  margin-top: 30px;
  margin-bottom: 30px;
}
.learning-title {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 24px;
  font-weight: 800;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: left;
  margin-top: 30px;
}
.learn-btn {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
  text-decoration-line: underline;
}
.footer{
  text-align: center;
}